*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@600&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@500;700&family=La+Belle+Aurore&family=Public+Sans:wght@300;400;700&family=Red+Hat+Text:wght@700&family=Roboto:wght@500&display=swap');

body{
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
svg{
    width: 64px;
    height: 64px;
}
.inputCheckbox{
    display: none;
}
.todo-item{
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid white;
    flex-wrap: wrap;
    word-wrap: break-word;
    /* color: white; */
}
.todo-item span{
    flex-grow: 1;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 22px;
}
.done span{
    text-decoration: line-through;
}
.tick{
    width: 30px;
    height: 30px;
    border: 3px solid white;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.tick::before{
    content: '\2713';
    /* content: '✓'; */
    font-size: 20px;
    display: none;
}
.done .tick::before{
    display: inline;
}
.delete-todo{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
}
.delete-todo svg{
    width: 30px;
    height: 30px;
    pointer-events: none;
}
.todoInput{
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
    height: 50px;
}
.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}
.addBtn:hover {
    background-color: #bbb;
}
.empty-state{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.checklist-icon{
    margin-bottom: 20px;
}
.empty-state-title, .empty-state-description {
    margin-bottom: 20px;
}
.todo-list:empty {
    display: none;
}
.todo-list:empty + .empty-state {
    display: flex;
}

/* @media(min-width: 768px){
    .todo-item{
       margin: 10px 0px;
       padding: 10px;
       width: 100%;
       display: flex;
       align-items: center;
       justify-content: space-between;
       border-bottom: 2px solid white;
       flex-wrap: wrap;
       word-wrap: break-word;
     
}
@media(min-width: 320px){
    .todo-item{
       flex-wrap: wrap;
       word-wrap: break-word;
       
     
} */





/* ///////////////////////////////////////////////// */
/* .content{
    margin-top: 50px;
    
}

li{
    list-style-type: none;
    
}
.close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px;
    color: red;

} */

/* .todoInput{
    width: inherit;
    height: 50px;
    border: none;
    background-color: transparent;
    border-radius: 10px;

} 
.todoInput:focus{
    outline: none;
    font-size:larger;
}
.todo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-weight: 700;
}

.create-new{
    margin: 50px auto 10px auto;
}
.taxs{
    margin: 0px auto 40px auto;
}
label{
    margin-left: 10px;
}
input:checked {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.cross{
    opacity: 0;
    float: right;
    transition: .5s ease;
}
.lines:hover .cross{
    /* content: url(./images/icon-cross.svg); */
    /* opacity: 1; */
    
/* } */
/* .clear{
    margin-left: 150px;
} */














/* 




@media(min-width: 300px){
    body{
        background-image: url(./images/bg-desktop-light.jpg);
        background-repeat: no-repeat;
    }
    .content{
        margin-top: 50px;
        
    }
    .todoInput{
        /* width: 610px;
        height: 50px; */
        /* border: none;
        background-color: transparent;
        border-radius: 10px;
    
    } */
/*     
    .todoInput:focus{
        outline: none;
        font-size:larger;
    }
    .todo{
        margin-left: 100px;
        margin-right: 100px;
    }
    .create-new{
        margin: 50px 50px 10px 50px;
    }
    .taxs{
        margin: 0px 50px 40px 50px;
    }
    label{
        margin-left: 10px;
    }
    input:checked {
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    .cross{
        opacity: 0;
        float: right;
        transition: .5s ease;
    }
    .lines:hover .cross{ */
        /* content: url(./images/icon-cross.svg); */
        /* opacity: 1;
    }
}  */