*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bai+Jamjuree:wght@400;600&family=Barlow+Semi+Condensed:wght@500;600&family=Cairo:wght@600&family=Dancing+Script:wght@700&family=Josefin+Sans:wght@400;700&family=Kumbh+Sans:wght@500;700&family=La+Belle+Aurore&family=Public+Sans:wght@300;400;700&family=Red+Hat+Text:wght@700&family=Roboto:wght@500&display=swap');

body{
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}
.content{
    margin-top: 50px;
    
}
.todoInput{
    width: inherit;
    height: 50px;
    border: none;
    background-color: transparent;
    border-radius: 10px;

}
.todoInput:focus{
    outline: none;
    font-size:larger;
}
.todo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-weight: 700;
}

.create-new{
    margin: 50px auto 10px auto;
}
.taxs{
    margin: 0px auto 40px auto;
}
label{
    margin-left: 10px;
}
input:checked {
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
}
.cross{
    opacity: 0;
    float: right;
    transition: .5s ease;
}
.lines:hover .cross{
    /* content: url(./images/icon-cross.svg); */
    opacity: 1;
    
}
/* .clear{
    margin-left: 150px;
} */














/* @media(min-width: 768px){
   
}




@media(min-width: 300px){
    body{
        background-image: url(./images/bg-desktop-light.jpg);
        background-repeat: no-repeat;
    }
    .content{
        margin-top: 50px;
        
    }
    .todoInput{
        /* width: 610px;
        height: 50px; */
        /* border: none;
        background-color: transparent;
        border-radius: 10px;
    
    } */
/*     
    .todoInput:focus{
        outline: none;
        font-size:larger;
    }
    .todo{
        margin-left: 100px;
        margin-right: 100px;
    }
    .create-new{
        margin: 50px 50px 10px 50px;
    }
    .taxs{
        margin: 0px 50px 40px 50px;
    }
    label{
        margin-left: 10px;
    }
    input:checked {
        content: '';
        height: 20px;
        width: 20px;
        border-radius: 50%;
    }
    .cross{
        opacity: 0;
        float: right;
        transition: .5s ease;
    }
    .lines:hover .cross{ */
        /* content: url(./images/icon-cross.svg); */
        /* opacity: 1;
    }
}  */